@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --primary: #24a2d0;
  --secondary: #33312e;
  --light: #fef9ff;
}

* {
  scroll-behavior: smooth;
  font-family: 'EB Garamond', serif;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light);
}
