.left-contact {
  min-width: 40%;
  flex-grow: 0;
  align-items: center;
}

.right-contact {
  flex-grow: 1;
}

.contact {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contact-content {
  position: relative;
}

/* Sidebar */
.css-lfwcke-MuiTabs-flexContainer {
  align-items: center;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  background-color: #212121;
}

.sidebar svg {
  color: white;
  width: 60%;
  height: auto;
}

.sidebar .profile-details svg {
  color: white;
  height: auto;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .nav-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  padding: 0;
}

.sidebar li {
  margin: 8px 0;
  list-style: none;
}

.sidebar li.profile{
  position: fixed;
  width: 80px;
  left: 0;
  bottom: 0px;
  padding: 10px 14px;
  overflow: hidden;
}

.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: transparent !important;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dashboard-content {
  margin-left: 100px;
}

/* Pricing */

.priceChart {
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 480px) {
  .priceChart {
    width: 100%;
  }
}

/* Settings Modal */
.css-mwi9v-MuiAvatar-root {
  margin: auto !important;
}

 @media screen and (max-width: 621px) {
   .chrome-picker {
     width: 80% !important;
     height: auto !important;
   }
 }