.left-box {
  min-width: 60%;
  flex-grow: 0;
  align-items: center;
}

.left-box > p {
  display: flex;
  align-items: center;
}

.left-box > p > a {
  color: white;
}


.right-box {
  flex-grow: 1;
}

footer {
  background-color: #212121;
  color: white;
  grid-area: footer;
}